@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Titres */
.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6 {
  font-family: "League Spartan", sans-serif !important;
  font-weight: 900 !important;
}

/* Paragraphes et texte normal */
.MuiTypography-body1,
.MuiTypography-body2,
.MuiTypography-subtitle1,
.MuiTypography-subtitle2,
.MuiTypography-caption {
  font-family: "League Spartan", sans-serif !important;
  font-weight: 100 !important;
}

/* Pour assurer une meilleure lisibilité des petits textes */
.MuiTypography-body2,
.MuiTypography-caption {
  font-weight: 200 !important;
} 